.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    color: rgb(73, 71, 71);
    margin: 0px;
    padding: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}